    @font-face {
      font-family:Metropolis;
      src:url("fonts/Metropolis-Thin.ttf") format("TrueType");
      font-weight:100;
      font-style:normal;
    }
    @font-face {
      font-family:Metropolis;
      src:url("fonts/Metropolis-ExtraLight.ttf") format("TrueType");
      font-weight:200;
      font-style:normal;
    }
    @font-face {
      font-family:Metropolis;
      src:url("fonts/Metropolis-Light.ttf") format("TrueType");
      font-weight:300;
      font-style:normal;
    }
    @font-face {
      font-family:Metropolis;
      src:url("fonts/Metropolis-Regular.ttf") format("TrueType");
      font-weight:400;
      font-style:normal;
    }
    @font-face {
      font-family:Metropolis;
      src:url("fonts/Metropolis-Medium.ttf") format("TrueType");
      font-weight:500;
      font-style:normal;
    }
    @font-face {
      font-family:Metropolis;
      src:url("fonts/Metropolis-SemiBold.ttf") format("TrueType");
      font-weight:600;
      font-style:normal;
    }
    @font-face {
      font-family:Metropolis;
      src:url("fonts/Metropolis-Bold.ttf") format("TrueType");
      font-weight:700;
      font-style:normal;
    }
    @font-face {
      font-family:Metropolis;
      src:url("fonts/Metropolis-ExtraBold.ttf") format("TrueType");
      font-weight:800;
      font-style:normal;
    }
    @font-face {
      font-family:Metropolis;
      src:url("fonts/Metropolis-Black.ttf") format("TrueType");
      font-weight:900;
      font-style:normal;
    }
    @font-face {
      font-family:Metropolis;
      src:url("fonts/Metropolis-ThinItalic.ttf") format("TrueType");
      font-weight:100;
      font-style:italic;
    }
    @font-face {
      font-family:Metropolis;
      src:url("fonts/Metropolis-ExtraLightItalic.ttf") format("TrueType");
      font-weight:200;
      font-style:italic;
    }
    @font-face {
      font-family:Metropolis;
      src:url("fonts/Metropolis-LightItalic.ttf") format("TrueType");
      font-weight:300;
      font-style:italic;
    }
    @font-face {
      font-family:Metropolis;
      src:url("fonts/Metropolis-RegularItalic.ttf") format("TrueType");
      font-weight:400;
      font-style:italic;
    }
    @font-face {
      font-family:Metropolis;
      src:url("fonts/Metropolis-MediumItalic.ttf") format("TrueType");
      font-weight:500;
      font-style:italic;
    }
    @font-face {
      font-family:Metropolis;
      src:url("fonts/Metropolis-SemiBoldItalic.ttf") format("TrueType");
      font-weight:600;
      font-style:italic;
    }
    @font-face {
      font-family:Metropolis;
      src:url("fonts/Metropolis-BoldItalic.ttf") format("TrueType");
      font-weight:700;
      font-style:italic;
    }
    @font-face {
      font-family:Metropolis;
      src:url("fonts/Metropolis-ExtraBoldItalic.ttf") format("TrueType");
      font-weight:800;
      font-style:italic;
    }
    @font-face {
      font-family:Metropolis;
      src:url("fonts/Metropolis-BlackItalic.ttf") format("TrueType");
      font-weight:900;
      font-style:italic;
    }
    @font-face {
      font-family: "Garamond";
      src: url("fonts/EBGaramond-VariableFont_wght.ttf") format("truetype");
      font-weight: normal;
      font-style: normal;
    }
    body {
      font-family: Garamond, serif;
      font-size: 1.31rem;
      line-height: 1.56;
      font-weight: 300;
      margin: 0;
      margin-bottom: 1.875rem;
    }
    ul.topnav {
      position: sticky;
      top: 0;
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: #333;
      font-family: Metropolis, sans-serif;
      font-size: 1.25rem;
      font-weight: 500;
      letter-spacing: .03rem;
      line-height: 1.1;
    }
    ul.topnav li {
      float: left;
      border-right: 1px solid #bbbbbb;
    }
    ul.topnav li:last-child {
      border-right: none;
    }
    ul.topnav li a {
      display: block;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
    }
    ul.topnav li a:hover:not(.active) {
      background-color: #111;
    }
    ul.topnav li a.active {
      background-color: #60bf60;
    }
    ul.topnav li.right {
      float: right;
    }
    @media screen and (max-width: 600px) {
      ul.topnav li.right, 
      ul.topnav li {float: none;}
    }
    h1 {
      font-family: Metropolis, sans-serif;
      font-size: 4rem;
      font-weight: 700;
      letter-spacing: .054rem;
      line-height: 1.1;
    }
    h2 {
      font-family: Metropolis, sans-serif;
      font-size: 2.5rem;
      letter-spacing: .04rem;
      font-weight: 600;
      line-height: 1.18;
    }
    h3 {
      font-family: Metropolis, sans-serif;
      font-size: 1.98rem;
      font-weight: 700;
      letter-spacing: .034rem;
      line-height: 1.26;
    }
    a:link, a:visited {
      text-decoration: underline;
      font-weight: bold;
      color: #000000;
    }
    a:hover, a:active {
      text-decoration: none;
      font-weight: bold;
      color: #60bf60;
    }
    .bigName{
      font-family: Metropolis, sans-serif;
      font-size: 1.98rem;
      font-weight: 700 !important;
      letter-spacing: .034rem;
      line-height: 1.26;
      text-decoration: none !important;
    }
    .city{
      float: right;
      text-decoration: underline;
      font-family: Metropolis, sans-serif;
      font-size: 1.6rem;
      letter-spacing: .034rem;
      line-height: 1.26;
    }
    .myPos{
      font-family: Metropolis, sans-serif;
      font-size: 1.85rem;
      font-style: italic;
      letter-spacing: .034rem;
      line-height: 1.26;
    }
    .myYears{
      float: right;
      font-style: italic;
      font-family: Metropolis, sans-serif;
      font-size: 1.3rem;
      font-style: italic;
      letter-spacing: .034rem;
      line-height: 1.26;
    }
    .rezItem{
      background-image: linear-gradient(to bottom right, #e3e3e3, #ffffff);
      border-radius: 25px;
      padding: .5vw 1vw .5vw 1vw;
      margin: 1vw 0px 1vw 0px;
      max-width: 1000px;
    }
    .mainContent {
      margin: 25px;
    }
